<?xml version='1.0' encoding='utf-8'?>
<widget id="com.printsworldwide3d" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>3D Prints Worldwide</name>
    <description>
        3D Printing is a video portal that will keep you up-to-date in the 3d printing world. Videos are posted and categorized based on their applications. This portal also has featured videos and latest blogs, news and articles, all related to 3D printing. It also has directory listings for existing 3D Printing Companies. Visitors can sign-up for free and can enjoy privileges such as creating and managing playlists, managing likes and videos, and many more. Members can also upload avatar and update their profile anytime.
    </description>
    <author email="sysadmin@3dprintingphilippines.com" href="http://3dprintingphilippines.com">
        sysadmin@3dprintingphilippines.com
    </author>

    <content src="index.html" />
    
    <!-- Android  -->
    <icon src="res/icons/android/icon-36-ldpi.png" gap:platform="android" gap:density="ldpi" />
	<icon src="res/icons/android/icon-48-mdpi.png" gap:platform="android" gap:density="mdpi" />
	<icon src="res/icons/android/icon-72-hdpi.png" gap:platform="android" gap:density="hdpi" />
	<icon src="res/icons/android/icon-96-xhdpi.png" gap:platform="android" gap:density="xhdpi" />

	<!-- iPhone / iPod Touch  -->
	<icon src="res/icons/ios/icon-60.png" gap:platform="ios" width="60" height="60" />
	<icon src="res/icons/ios/icon-60-2x.png" gap:platform="ios" width="120" height="120" />

	<!-- iPad -->
	<icon src="res/icons/ios/icon-76.png" gap:platform="ios" width="76" height="76" />
	<icon src="res/icons/ios/icon-76-2x.png" gap:platform="ios" width="152" height="152" />

	<!-- Settings Icon -->
	<icon src="res/icons/ios/icon-29.png" gap:platform="ios" width="29" height="29" />
	<icon src="res/icons/ios/icon-29-2x.png" gap:platform="ios" width="58" height="58" />

	<!-- Spotlight Icon -->
	<icon src="res/icons/ios/icon-40.png" gap:platform="ios" width="40" height="40" />
	<icon src="res/icons/ios/icon-40-2x.png" gap:platform="ios" width="80" height="80" />
    
    <access origin="*" subdomains="true" />
</widget>